@using Core.Models
@model Project

<!DOCTYPE html>

<html>
<head>
    <title>Detail Project</title>
</head>
<body>
<div class="container py-4">
    <div class="list-group">
        <div class="list-group-item list-group-item-action my-2">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">@Model.Name</h3>
                @* <h3 class="mb-1">@Model.Id</h3> *@
                <small>@Model.DueDates.ToString("d")</small>
            </div>
            <p class="mb-1">@Model.Description</p>
            <p class="mb-1">Count of done tasks: @Model.CountDoneTasks / @Model.Tasks.Count</p>
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Progress: @Model.Progress</p>
            </div>
            @if (Model.Tasks.Any())
            {
                @foreach (var task in Model.Tasks)
                {
                    <div class="d-flex justify-content-between align-items-end my-2">
                        <small>Task: <br> @task.Name</small>
                        <div class="d-flex ml-auto">
                            <div class="mx-2">
                                <a type="button" class="btn btn-outline-primary" asp-controller="ProjectTask" asp-action="Delete" asp-route-id="@task.Id">Delete</a>
                            </div>
                            <div class="mx-2">
                                <a type="button" class="btn btn-outline-primary" asp-controller="ProjectTask" asp-action="Edit" asp-route-id="@task.Id" asp-route-projectId="@Model.Id">Edit</a>
                            </div>
                            <div class="mx-2">
                                <a type="button" class="btn btn-outline-primary" asp-controller="ProjectTask" asp-action="Detail" asp-route-id="@task.Id">Detail</a>
                            </div>
                        </div>
                    </div>
                }
            }
            @if (Model.UserProjects.Any())
            {
                <div class="my-2">
                    <h6 class="mb-1">Project Users:</h6>
                    <ul class="list-group">
                        @foreach (var userProject in Model.UserProjects)
                        {
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">@userProject.User.UserName</h6>
                                        <small>@userProject.User.Email</small>
                                    </div>
                                    <small class="text-uppercase">@userProject.User.Role</small>
                                </div>
                                @* <a href="@Url.Action("Details", "AppUser", new { id = userProject.User.Id })" class="btn btn-primary btn-sm">Detail</a> *@
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
</body>
</html>