@using Core.Models
@model IEnumerable<Project>

<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>
<div class="container py-4">
    <div class="list-group">
        <div>
            <a type="button" class="btn btn-outline-danger" asp-controller="Project" asp-action="Create">Create Project</a>
        </div>
        @foreach (var project in Model)
        {
            <div class="list-group-item list-group-item-action my-2">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <h5 class="mb-0">@project.Name</h5>
                    <small class="mr-2">@project.DueDates.ToString("d")</small>
                    <div class="d-flex">
                        <div class="mx-2">
                            <a type="button" class="btn btn-outline-primary" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id">Delete</a>
                        </div>
                        <div class="mx-2">
                            <a type="button" class="btn btn-outline-primary" asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id">Edit</a>
                        </div>
                        <div class="mx-2">
                            <a type="button" class="btn btn-outline-primary" asp-controller="Project" asp-action="Detail" asp-route-id="@project.Id">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>