@using Core.Models
@using Core.Enums
@model IEnumerable<Project>

<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>
<div class="container py-4">
    <div class="list-group">
        @if (User.Identity.IsAuthenticated && User.IsInRole(UserRole.StakeHolder.ToString()))
        {
            <div>
                <a type="button" class="btn btn-outline-danger" asp-controller="Project" asp-action="Create">Create Project</a>
            </div>
        }
        @foreach (var project in Model)
        {
            <div class="list-group-item list-group-item-action my-2">
                <div class="row">
                    <div class="col-7">
                        <h5 class="mb-0">@project.Name</h5>
                    </div>
                    <div class="col-3">
                        <small class="mr-2">@project.DueDates.ToString("d")</small>
                    </div>
                    <div class="col-2 d-flex justify-content-end" style="white-space: nowrap;">
                        @if (User.Identity.IsAuthenticated && User.IsInRole(UserRole.StakeHolder.ToString()))
                        {
                            var projectSh = project.UserProjects.Where(p => p.User.UserName == User.Identity.Name).ToList();
                            @if (projectSh.Any(p => p.ProjectId == project.Id))
                            {
                                <div class="mx-2">
                                    <a type="button" class="btn btn-outline-danger" asp-controller="ProjectTask" asp-action="Create" asp-route-projectId="@project.Id">Create Task</a>
                                </div>
                                <div class="mx-2">
                                    <a type="button" class="btn btn-outline-primary" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id">Delete</a>
                                </div>
                                <div class="mx-2">
                                    <a type="button" class="btn btn-outline-primary" asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id">Edit</a>
                                </div>
                            }
                        }
                        <div class="mx-2">
                            <a type="button" class="btn btn-outline-primary" asp-controller="Project" asp-action="Detail" asp-route-id="@project.Id">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>